<p-table #dt [columns]="cols" styleClass="ui-table-cars" [value]="leaves" [paginator]="true" [rows]="10" dataKey="Name-Surname" selectionMode="single" [(selection)]="selectedLeave">
  <ng-template pTemplate="caption">
    LIST OF LEAVE REQUESTS
    <p-tabMenu [model]="leaveTabItems"></p-tabMenu>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngSwitch]="col.field">
        {{col.header}}
        <p-sortIcon [field]="col.field"></p-sortIcon>
        <input *ngSwitchCase="'Name-Surname'" pInputText type="text" placeholder="Starts with" class="ui-column-filter" style="width: 100%;" (input)="dt.filter($event.target, col.field, 'startsWith')">
      </th>
      <th style="width: 8em; text-align: center;">
        <button pButton type="button" icon="pi pi-cog"></button>
      </th>
    </tr>


  </ng-template>
  <ng-template let-leave pTemplate="body">
    <tr [pSelectableRow]="leaves" [pEditableRow]="leaves">
      <td>{{leave.leaveID}}</td>
      <td>{{leave.employee}}</td>
      <td>{{leave.leaveType}}</td>
      <td>{{leave.startDate}}</td>
      <td>{{leave.endDate}}</td>
      <td>{{leave.createdAt}}</td>
      <td>
        <button pButton type="button" class="ui-button-success" icon="pi pi-search" style="margin-right: .5em" routerLink="/leave-detail"></button>
        <button pButton type="button" class="ui-button-warning" icon="pi pi-pencil" routerLink="/employee-update"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
