<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()">
      <i class="pi pi-bars"></i>
    </button>
    <h1>Employee Management System</h1>
    <span class="menu-spacer"></span>
    <div>
      <p-splitButton label="{{sampleEmployee.firstName + ' ' + sampleEmployee.lastName}}" [model]="splitButtonItems"></p-splitButton>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav class="sidenav-class">
    <p-panelMenu [model]="items" [style]="{'width':'300px'}"></p-panelMenu>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


