<p-dataView #dv [value]="employees" [paginator]="true" [rows]="12" layout="grid">
  <p-header>
    TIME SHEET SEARCH BY EMPLOYEES
    <div class="ui-helper-clearfix">
<!--      <div class="ui-g">
        <div class="ui-g-12 ui-md-4">
          <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By" (onChange)="onSortChange($event)" [style]="{'min-width':'140px'}"></p-dropdown>
        </div>
        <div class="ui-g-6 ui-md-4 filter-container">
          <div style="position:relative">
            <input type="search" pInputText placeholder="Search by brand" (input)="dv.filter($event.target.value)">
          </div>
        </div>
      </div>-->
    </div>
  </p-header>
  <ng-template let-employee pTemplate="gridItem">
    <div style="padding:.5em" class="ui-g-12 ui-md-3">
      <p-panel [header]="employee.firstName + ' ' + employee.lastName" [style]="{'text-align':'center'}">
        <div class="car-detail">Total Number of Time Sheet Saving(s): {{employee.timeSheets.length}}</div>
        <hr class="ui-widget-content" style="border-top:0">
        <button pButton type="button" icon="pi pi-search" (click)="showAllTimeSheets(employee)" style="margin-top:0"></button>
      </p-panel>
    </div>





    <p-dialog  [(visible)]="employee.id === dialogID">
      <p-header>
        <span>All Time Sheet(s) of {{employee.firstName}} {{employee.lastName}}</span>
      </p-header>

      <p-table [columns]="dialogColumns" [value]="employee.timeSheets" [scrollable]="true" scrollHeight="200px" style="width: 500px">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns">
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-timeSheet>
          <tr>
            <td>{{timeSheet.timeSheetId}}</td>
            <td>{{timeSheet.timeSheetDate}}</td>
            <td>{{timeSheet.hours}}</td>
            <td>{{timeSheet.project}}</td>
            <td>{{timeSheet.description}}</td>

          </tr>
        </ng-template>
      </p-table>



      <p-footer>
        <button pButton type="button" label="Back" class="ui-button-warning" (click)="closeDialog()"></button>
      </p-footer>
    </p-dialog>


  </ng-template>
</p-dataView>



